/*
 * SPDX-FileCopyrightText: 2023 Gleb Smirnov <glebsmirnov0708@gmail.com>
 * SPDX-FileCopyrightText: 2022 Emmanuele Bassi
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

/* Merge the searchbar with the headerbar */
searchbar>revealer>box {
    background: none;
}

/* Blur window content under the drag overlay */
.blurred {
    filter: blur(6px);
}

/* Drag overlay styling */
.drag-overlay-status-page {
    background-color: alpha(@accent_bg_color, 0.5);
    color: @accent_fg_color;
}

editorsearchbar .searchbar {
    padding: 6px;
    margin: 6px;
    background-color: @popover_bg_color;
    border-radius: 10px;
    box-shadow: 0 0 0 1px alpha(black, 0.03),
        0 1px 3px 1px alpha(black, .07),
        0 2px 6px 2px alpha(black, .03);
}
