/* Custom tool row */

row.form-row:not(:last-child) {
  border: none;
}

button.large {
  padding: 4px;
}

button.large image {
  -gtk-icon-size: 18px;
}

/* Argument view */

.argument-view {
  padding: 6px;
  border-radius: 0px 0px 6px 6px;
}

.light-theme .argument-view {
  background-color: shade(@theme_base_color, 0.9);
}

.dark-theme .argument-view {
  background-color: shade(@theme_base_color, 1.3);
}
